.DS_Store
node_modules

# Rust / Tauri build artifacts
src-tauri/target
src-tauri/Cargo.lock

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
yarn.lock

translate/~$translations.xlsx

node_modules/
src-tauri/target/
.DS_Store